header{
  border: 1px solid black;
}

nav{
  border: 1px solid blue;
}

h1,h2,h3 {
  border: 1px solid red;
}

footer{
  border: 1px solid green;
}

ul{
  list-style-type: none;
}

li{
  display: inline-block;
}

a {
    padding: 10px;
    border: 2px solid black;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
}
